.qq-uploader { 
	position:relative; 
	width: 100%;
}

.qq-uploader a {
	color: #000;
	text-decoration: underline !important;
}


.qq-upload-button {
    display:block; /* or inline-block */
    width: 400px; 
	padding: 7px 0; 
	text-align:center;    
    background:#880000; 
	border-bottom:1px solid #ddd;
	color:#fff;
}
.qq-upload-button-hover {
	background:#cc0000;
}

.qq-upload-button-focus {
	outline:1px dotted black;
}

.qq-upload-drop-area {
    position:absolute; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%; 
	min-height: 70px; 
	z-index:2;
    background:#FF9797; 
	text-align:center; 
}

.qq-upload-drop-area span {
    display:block; 
	position:absolute; 
	top: 50%; 
	width:100%; 
	margin-top:-8px;
	font-size:16px;
}
.qq-upload-drop-area-active {
	background:#FF7171;
}

.qq-upload-list {
	padding: 5px;
	list-style-type:none;
}

.qq-upload-list li { 
	margin:0; 
	padding:  5px; 
	line-height:15px; 
	font-size:12px;
	background: #e5e5e5;
	border-bottom: 1px solid #eee;
}

.qq-upload-list li:hover { 
	background: #e9e9e9;
}

.qq-upload-file, 
.qq-upload-spinner, 
.qq-upload-size, 
.qq-upload-cancel, 
.qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-failed-text {
	color: #c9c9c9;
	font-size: 9px;
}

.qq-upload-file {}
.qq-upload-spinner {
	display:inline-block;
	background: url("loading.gif") no-repeat; 
	width:15px; 
	height:15px; 
	vertical-align:text-bottom;
}

.qq-upload-size,
.qq-upload-cancel {
	font-size:11px;
}

.qq-upload-failed-text {
	display:none;
}

.qq-upload-fail .qq-upload-failed-text {
	display:inline;
}

li.qq-upload-success,
li.qq-upload-success:hover,
li.qq-upload-success a {
	background: #6AB000;
	color: #fff !important;
}

li.qq-upload-fail,
li.qq-upload-fail:hover,
li.qq-upload-fail a {
	background: #880000;
	color: #fff !important;
}

.qq-upload-file {
	display: inline-block;
	width: 350px
}

.upload_finish {
	color: #f5f5f5;
}

.clear_link {
	padding-left: 20px;
}